:root {
  --primary-navbar-color: #24252a;
  --primary-font-color: #fff;
  --temp-bg-color: #7a7a7a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--temp-bg-color);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Geneva, Tahoma, sans-serif;
  background-color: var(--primary-navbar-color);
  height: 60px;
  padding: 0 40px;
}

.navbar__logo {
  font-size: 26px;
  font-weight: 800;
  color: var(--primary-font-color);
  letter-spacing: 5px;
}

.navbar__menu {
  display: flex;
  overflow: hidden;
}

.link {
  position: relative;
  margin: 0 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-font-color);
  transition: color .2s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.lin {
  margin: 0 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-font-color);
  transition: color .2s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: aqua;
}

.dropdown__container {
  border: 1px black solid;
  overflow: hidden;
}

.dropdown_menu {
  position: absolute;
  min-width: 160px;;
  z-index: 1;
}

.dropdown_services {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-font-color);
  transition: color .2s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.dropdown_services:hover {
  color: aqua;
}