:root {
  --primary-navbar-color: #24252a;
  --primary-font-color: #fff;
  --temp-bg-color: #7a7a7a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--temp-bg-color);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Geneva, Tahoma, sans-serif;
  background-color: var(--primary-navbar-color);
  height: 60px;
  padding: 0 40px;
}

.navbar__logo {
  font-size: 26px;
  font-weight: 800;
  color: var(--primary-font-color);
  letter-spacing: 5px;
}

.navbar__menu {
  display: flex;
}

.nav__link {
  margin: 0 16px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-font-color);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.nav__link:hover {
  color:aqua;
}

.dropdown__link {
  margin: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-font-color);
  cursor: pointer;
  text-decoration: none;
}

.dropdown_services {
  position: relative;
}

.dropdown__services__menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100px;
  background-color: #5a5a5a;
}

.dropdown_services:hover .dropdown__services__menu {
  visibility: visible;
  opacity: 1; 
  transition: all .1s linear;
}

.sectionbreak {
  height: 200px;
}

.fa-bars {
  color: white;
  font-size: 2rem;
  transition: transform .8s ease-in-out;
}

#navbar__ham__btnControl {
  display: none;
}

#navbar__ham__btnControl:checked + label > .fa-bars {
  transform: rotate(90deg);
}